<!DOCTYPE HTML>
<html>
<head>
    <title>Animex - Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/unnamed.jpg">

    <style>
.product-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
    margin-bottom: 20px;
}

.product-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.category {
    font-size: 14px;
    color: #5b5b5b;
    margin-bottom: 10px;
    font-weight: 400;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.out-of-stock-message {
    font-weight: bold;
    color: #ff0000;
    font-size: 18px;
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}

/* Adjust margin bottom and add space between image and name */
.product-item h6 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.side.border.mb-1 ul li a {
            color: black;
            font-weight: 500;
            display: block;
            padding: 10px;
            transition: all 0.3s ease;
        }

        .side.border.mb-1 ul li a:hover {
            background-color: #f8f9fa;
        }

        hr {
            margin: 20px 20px;
            background-color: aquamarine;
            font-weight: 500;
            height: 1px;
        }
        .active{
            color: aquamarine;
        }
        .actives{
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<div class="colorlib-loader"></div>

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-9">
                        <div id="colorlib-logo"><a href="/">Animex</a></div>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <form action="/search" class="search-wrap" method="get">
                            <div class="form-group">
                                <input type="search" class="form-control search" name="q" placeholder="Search">
                                <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-left menu-1">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="about.ejs">About</a></li>
                            <li><a href="contact.ejs">Contact</a></li>
                            <li style="float: right;"><a href="/profile"><i class="fa-regular fa-circle-user fa-2x"></i></a></li>
                            <li style="float: right;"><a href="/wishlist"><i class="fa-regular fa-heart fa-2x"></i></a></li>
                            <% if(user) { %>
								<li class="logout"><a href="userlogout"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a></li>
							<% } else { %>
								<li class="login"><a href="/userlogin"><i class="login-Page"></i> Login</a></li>
							<% } %>
                            <li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i> Cart [<%= count %>]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sale">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center">
                        <div class="row">
                            <div class="owl-carousel2">
                                <div class="item">
                                    <div class="col">
                                        <h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col">
                                        <h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="bread"><span><a href="/">Home</a></span> / <span>Shop</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcrumbs-two">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs-img" style="background-image: url(/static/images/ROMAN-SHIRT-1.webp);">
                        <h2>Men's</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xl-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Category</h3>
                                <ul>
                                    <li><a href="/shop">All</a></li>
                                    <% categories.forEach(category => { %>
                                    <li>
                                        <a href="/shop?category=<%= category._id %>" class="<%= selectedCategory ==  category._id ? 'actives' : '' %>">
                                            <%= category.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Sort</h3>
                                <hr>
                                <ul>
                                    <li><a href="/priceFilter/<%= categories._id %>?sort=lowToHigh" class="<%= sort === 'lowToHigh' ? 'actives' : '' %>">Price: low to high</a></li>
                                    <li><a href="/priceFilter/<%= categories._id %>?sort=highToLow" class="<%= sort === 'highToLow' ? 'actives' : '' %>">Price: high to low</a></li>
                                    <li><a href="/bestSeller/<%= categories._id %>?sort=bestSell" class="<%= sort === 'bestSell' ? 'actives' : '' %>">Best Sellers</a></li>
                                    <li><a href="/newArrival/<%= categories._id %>?sort=newArrival" class="<%= sort === 'newArrival' ? 'actives' : '' %>">New Arrival</a></li>
                                    <li><a href="/aToZFilter/<%= categories._id %>?sort=aToZ" class="<%= sort === 'aToZ' ? 'actives' : '' %>">aA - zZ</a></li>
                                    <li><a href="/aToZFilter/<%= categories._id %>?sort=zToA" class="<%= sort === 'zToA' ? 'actives' : '' %>">zZ - aA</a></li>
                                </ul>                                                                                                                     
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-xl-9">
                    <div class="row row-pb-md">
                        <% products.forEach(item => { %> 
                            <div class="col-md-4 col-lg-4 text-center">
                                <div class="product border">
                                    <div class="product-item">
                                        <a href="/product-details/<%= item._id %>">
                                            <div class="prod-img">
                                                <img src="/static/uploads/<%= item.image[0] %>" class="img-fluid" style="height: 205px;" alt="Free html5 bootstrap 4 template">
                                            </div>
                                        </a>
                                        <h6><a href="#"> <%= item.name %> </a></h6>
                                        <p class="category"><%= item.category ? item.category.name : 'No category' %></p>
                                        <p class="price">₹<%= item.price %></p>
                                        <% if (item.stock <= 0) { %>
                                            <p class="out-of-stock-message">Out of Stock</p>
                                        <% } else { %>
                                            <button class="btn btn-primary add-to-cart" onclick="cart('<%= item._id %>')">Add to Cart <i class="fas fa-cart-plus"></i></button>
                                            <button class="btn btn-primary add-to-wishlist" onclick="wishlist('<%= item._id %>')"><i class="fa-solid fa-heart" style="color: crimson;"></i></button>
                                        <% } %>
                                    </div>									
                                </div>
                            </div>
                            <% }) %>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-partner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                    <h2>Trusted Partners</h2>
                </div>
            </div>
            <div class="row">
                <div class="col partner-col text-center">
                    <img src="/static/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="/static/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="/static/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="/static/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="/static/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
            </div>
        </div>
    </div>

    <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col footer-col colorlib-widget">
                    <h4>About Footwear</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col footer-col colorlib-widget">
                    <h4>Customer Care</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Returns/Exchange</a></li>
                            <li><a href="#">Gift Voucher</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Special</a></li>
                            <li><a href="#">Customer Services</a></li>
                            <li><a href="#">Site maps</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col footer-col colorlib-widget">
                    <h4>Information</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Order Tracking</a></li>
                        </ul>
                    </p>
                </div>

                <div class="col footer-col">
                    <h4>News</h4>
                    <ul class="colorlib-footer-links">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Exhibitions</a></li>
                    </ul>
                </div>

                <div class="col footer-col">
                    <h4>Contact Information</h4>
                    <ul class="colorlib-footer-links">
                        <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                        <li><a href="#">yoursite.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>
                        <span>&copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></span>
                        <span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function cart(id) {
        Swal.fire({
            title: "Successfully add to cart!",
            showCancelButton: false,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "ok"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/addTocart/" + id;
            }
        });
    }

    function wishlist(id) {
			Swal.fire({
				title: "Successfully add to Wishlist!",
				showCancelButton: false,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "ok"
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = "/addTowishlist/" + id;
				}
			});
		}
</script>

<script src="https://kit.fontawesome.com/c3933791eb.js" crossorigin="anonymous"></script>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.flexslider-min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/magnific-popup-options.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
