<!DOCTYPE html>
<html>
<head>
    <title>User Wallet - Animex</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/images/unnamed.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <style>
        .profile-transaction-history {
            font-family: Arial, sans-serif;
            margin-top: 20px;
        }

        .transaction-list-wrapper {
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }

        .profile-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .profile-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        .transaction-details {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .transaction-description {
            margin-right: 10px;
            font-weight: bold;
        }

        .transaction-price {
            color: green;
        }

        .transaction-date {
            font-style: italic;
        }
        body {
            font-family: "Montserrat", sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }
        .profile-info {
            background: #fff;
            border-radius: 10px;
            padding: 50px;
            margin: 65px auto;
            max-width: 800px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        .profile-info h3 {
            color: #333;
            margin-bottom: 20px;
            border-bottom: 2px solid #88c8bc;
            padding-bottom: 10px;
        }
        .profile-info p {
            color: #000000;
            margin-bottom: 15px;
            line-height: 1.6;
            font-weight: 500;
        }
        .edit-button {
            background-color: #88c8bc;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .edit-button:hover {
            background-color: #488f82;
        }
        .sidebar {
            background: #f8f9fa;
            border-right: 1px solid #ddd;
            padding: 20px;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            overflow-y: auto;
            margin-top: 185px;
        }
        .sidebar h4 {
            margin-bottom: 20px;
            color: #333;
            border-bottom: 2px solid #88c8bc;
            padding-bottom: 10px;
        }
        .sidebar ul {
            list-style: none;
            padding-left: 0;
        }
        .sidebar ul li {
            margin-bottom: 10px;
        }
        .sidebar li a {
            color: #333;
            text-decoration: none;
            display: block;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            font-weight: 500;
        }
        .sidebar li a:hover {
            background-color: #88c8bc;
            color: #fff;
        }
        .active{
            color: #88c8bc;
            border-radius: 5px;
        }.actives{
            background-color: #88c8bc;
            border-radius: 5px;
        }
        td{
            font-weight: 500;
        }

        /* Updated CSS styles for the wallet section */
        .wallet-container {
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .wallet-header h1 {
            color: #333;
            margin-bottom: 20px;
            border-bottom: 2px solid #88c8bc;
            padding-bottom: 10px;
        }

        .balance {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: 500;
        }

        .transaction-options {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .transaction-option {
            flex: 1;
            margin-right: 10px;
        }

        .transaction-option input {
            width: calc(80% - 100px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        .transaction-option button {
            background-color: #88c8bc;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .transaction-option button:hover {
            background-color: #488f82;
        }

        .transaction-history {
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }

        .transaction-history h2 {
            margin-bottom: 10px;
            color: #333;
            border-bottom: 2px solid #88c8bc;
            padding-bottom: 10px;
        }

        .transaction-history ul {
            list-style: none;
            padding: 0;
        }

        .transaction-history ul li {
            margin-bottom: 5px;
        }

        .clear-history-button {
            background-color: #ff6666;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }

        .clear-history-button:hover {
            background-color: #cc0000;
        }
        li{
            color: black;
    font-weight: 400;
        }
    </style>
</head>
<body>
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-9">
                        <div id="colorlib-logo"><a href="/">Animex</a></div>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <form action="#" class="search-wrap">
                            <div class="form-group">
                                <input type="search" class="form-control search" placeholder="Search">
                                <button class="btn btn-primary submit-search text-center" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-left menu-1">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>   
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li style="float: right;" class="active"><a href="/profile"><i class="fa-regular fa-circle-user fa-2x"></i></a></li>
                            <li style="float: right;" ><a href="/wishlist"><i class="fa-solid fa-heart fa-2x"></i></a></li>
                            <li class="cart"><a href="/cart"><i class="fas fa-shopping-cart fa-lg"></i> Cart [<%= count  %>]</a></li>
                            <li class="logout"><a href="userlogout"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <hr>


    

    
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <div class="sidebar">
                    <h4>Account Settings</h4>
                    <ul>
                        <li class="active"><a href="/profile"><i class="fas fa-user"></i> Profile</a></li>
                        <li><a href="/addressManage"><i class="fas fa-address-book"></i> Address Management</a></li>
                        <li><a href="/orderProfile"><i class="fas fa-list"></i> Orders</a></li>
                        <li class="actives"><a href="/wallet"><i class="fa-solid fa-wallet"></i> Wallet</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-11">
                <div class="wallet-container">
                    <div class="wallet-header">
                        <h1>My Wallet</h1>
                        <div class="balance" id="balance">Balance: ₹<%= wallet.balance %></div>
                    </div>
                    <div class="transaction-options">
                        <div class="transaction-option">
                            <input type="number" id="add-amount" placeholder="Enter amount">
                            <button onclick="initiateRazorpayPayment()">Add Funds</button>
                        </div>
                    </div>
                    <div class="profile-transaction-history">
                        <h2>Transaction History</h2>
                        <div class="transaction-list-wrapper">
                          <ul class="profile-list" id="transaction-list">
                            <% wallet.transactionHistory.forEach(transaction => { %>
                                <li class="profile-item">
                                  <div class="transaction-details">


                                  <% if (transaction.type === 'deposit') { %>
                                    <div class="transaction-description" style="color: green;">
                                      <%= transaction.description %>:
                                      ₹<%= transaction.amount %> +
                                    </div>
                                  <% }else{ %>
                                    <div class="transaction-description" style="color: rgb(183, 4, 4);">
                                      <%= transaction.description %>:
                                      ₹<%= transaction.amount %>-
                                    </div>

                                    <% } %>
                                  </div>
                                  <div class="transaction-date">
                                    (Date: <%= new Date(transaction.date).toLocaleDateString() %>)
                                </div>  
                                </li>
                            <% }); %>
                          </ul>       
                        </div>
                    </div>
                    <button class="clear-history-button" onclick="clearHistory()">Clear History</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        const balanceDisplay = document.getElementById('balance');
        const transactionList = document.getElementById('transaction-list');
    
        function initiateRazorpayPayment() {
            const totalPriceInput = document.getElementById("add-amount");
            const totalPrice = parseFloat(totalPriceInput.value);
    
            if (!isNaN(totalPrice) && totalPrice > 0) {
                const data = {
                    name: "<%= user.name %>",
                    email: "<%= user.email %>",
                    phone: "<%= user.phone %>",
                };
    
                var options = {
                    key: "rzp_test_Oks5Gpac00wL72",
                    amount: totalPrice * 100,
                    currency: "INR",
                    name: "Animex",
                    description: "Purchase Description",
                    image: "/static/images/Anime-Logo-PNG-Images.png",
    
                    handler: function (response) {
                        console.log(response);
                        addFunds(totalPrice);
                        window.location.reload();
                        window.location.reload();
                    },
    
                    prefill: {
                        name: data.name,
                        email: data.email,
                        contact: data.phone,
                    },
                    theme: {
                        color: "#3399cc",
                    },
                };
    
                var rzp = new Razorpay(options);
                
                rzp.open();
            } else {
                alert("Please enter a valid amount.");
            }
        }
    
        async function addFunds(amount) {
    if (!isNaN(amount) && amount > 0) {
        const response = await fetch('/addFunds', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ amount })
        });
        const data = await response.json();
        if (data.success) {
            balanceDisplay.textContent = `Balance: ₹${data.balance}`;
            addTransaction({ date: new Date().toLocaleDateString(), type: 'deposit', amount }); // Add transaction to UI
            document.getElementById('add-amount').value = '';
        } else {
            alert(data.message);
        }
    } else {
        alert("Invalid amount!");
    }
}

    
        function addTransaction(transaction) {
    const transactionRow = document.createElement('tr');
    transactionRow.innerHTML = `
        <td>${transaction.date}</td>
        <td>${transaction.type.charAt(0).toUpperCase() + transaction.type.slice(1)}</td>
        <td>₹${transaction.amount}</td>
    `;
    document.getElementById('transaction-list').appendChild(transactionRow);
}

    
        async function clearHistory() {
            const response = await fetch('/clearHistory', {
                method: 'POST'
            });
            const data = await response.json();
            if (data.success) {
                transactionList.innerHTML = '';
            } else {
                alert(data.message);
            }
        }
    </script>
    
    


   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
   



    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
